{% extends 'vue-base.html' %}

{% block title %}Registration{% endblock %}

{% block v-content %}
{{ block.super }}
<v-container>
  <v-form method="post">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
    <v-alert color="error" icon="error" value="true">{{ error }}</v-alert>
    {% endfor %}
    {% for field in form %}
    {% for error in field.errors %}
    <v-alert color="error" icon="error" value="true">{{ error }}</v-alert>
    {% endfor %}
    <v-text-field required
      name="{{ field.name }}"
      label="{{ field.label }}"
      value="{{ field.value|default_if_none:"" }}"
      {% if 'password' in field.name %}
      :append-icon="forms.pw?'visibility':'visibility_off'"
      :append-icon-cb="()=>(forms.pw=!forms.pw)"
      :type="forms.pw?'password':'text'"
      {% endif %}
    ></v-text-field>
    {% endfor %}
    <v-btn type="submit">Sign Up</v-btn>
  </v-form>
</v-container>
{% endblock %}

{% block v-script %}
{{ block.super }}
<script>
options.data.forms = {
  'pw': true
};
</script>
{% endblock %}
