{% extends 'vue-base.html' %}

{% block title %}Solid Eureka{% endblock %}

{% block v-content %}
<v-container>
  <router-view></router-view>
</v-container>
{% endblock %}

{% block v-script %}
{{ block.super }}
<script>
options.router = new VueRouter({
  routes: [
    {
      path: '/store',
      name: 'Store',
      component: { template:`<h1>Store</h1>` }
    },
    {
      path: '/cart',
      name: 'Cart',
      component: { template:`<h1>Cart</h1>` }
    },
    { path: '*', redirect: '/store' }
  ]
});
</script>
{% endblock %}
